@import url(/MyPortfolio/css/main.css);
@import url(/MyPortfolio/css/reset.css);
@import url(/MyPortfolio/css/root.css);

.hero { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 100%;
    width: var(--container-width);
}