:root {
    --color-dark: #3333;
    --color-light: white;
    
    --border-radius: 30px;

    --border: 2px solid var(--color-dark);

    --font-family-base: 'Montserrat', sans-serif; 

    --font-family-accent: 'Yantramanav', sans-serif;

    --input-height: 107px;

    --container-width: 1066px; 

    --container-padding-x: 20px; 

    --transition-duration: 0.2s; 
}